<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		<header class="site-header small">
			<div class="wrapper">
				<h1 class="site-title">
					<a href="{{ site.baseurl }}/">{{ site.title }}</a>
				</h1>
			</div>
		</header>

		<div class="page-content">
			<div class="wrapper">
				<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

					<header class="post-header">
						<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
						<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time></p>
					</header>

					<div class="post-content" itemprop="articleBody">
						{{ content }}
					</div>

					<div class="post-author">
						{% assign author = site.data.authors[page.author] %}
						<p>
						<img src="{{ author.email | to_gravatar }}?s=70" alt="{{ author.name }}" class="author-avatar">
							<span itemprop="author" itemscope itemtype="http://schema.org/Person">
								<a href="mailto:{{ author.email }}"><span itemprop="name">{{ author.name }}</span></a><br >
								<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>
							</span>
						</p>
					</div>

					{% if page.hackernews or page.reddit %}
						<div class="post-links">
							<ul>
								<li class="leader">Discuss on:</li>

								{% if page.hackernews %}
									<li><a href="{{ page.hackernews }}">Discuss on Hackernews</a></li>
								{% endif %}

								{% if page.reddit %}
									<li><a href="{{ page.reddit }}">Reddit</a></li>
								{% endif %}
							</ul>
						</div>
					{% endif %}

				</article>
			</div>
		</div>

		{% include marketing.html %}

		{% include footer.html %}

	</body>

</html>
