body {
	padding: 60px 0;
}

.site-header {
	margin-bottom: $spacing-unit;

	&.small {
		margin-bottom: $spacing-unit / 3;

		.site-title {
			text-transform: uppercase;
			font-size: 80%;
			font-weight: $base-font-weight * 2;
		}
	}
}

.site-title {
	font-size: $base-font-size * 1.5;
	font-weight: $base-font-weight;
	margin-bottom: $spacing-unit / 3;

	a, a:visited {
		color: $dark-color;
	}
}

.site-nav {
	a, a:visited {
		color: lighten($text-color, 30%);
		text-transform: lowercase;
		-webkit-transition: color .2s ease;
		-moz-transition: color .2s ease;
		transition: color .2s ease;	
	}

	a:hover {
		color: darken($text-color, 20%);
	}
}

.post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.post-title {
	font-size: $base-font-size * 1.75;
	margin-bottom: $spacing-unit / 6;
}

.post-content {
	margin-bottom: $spacing-unit;
}

.post-author {
	margin-bottom: $spacing-unit;
}

.post-links ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline;
		margin-right: $spacing-unit / 2;
	}
}

.author-avatar {
	float: left;
	border-radius: 100%;
	margin-right: $spacing-unit / 2;
}

.page-content {
	margin-bottom: $spacing-unit;
}

.site-marketing {
	.bordered {
		border-top: solid 1px lighten($dark-color, 60%);
	}
}

.site-footer {
	font-size: 80%;

	.bordered {
		border-top: solid 1px lighten($dark-color, 60%);
		padding-top: $spacing-unit;
	}

	.links {
		text-align: center;
	}
}

.footnotes {
	font-size: 80%;
	border-top: solid 1px lighten($dark-color, 60%);
	padding-top: $spacing-unit;
}

.revision-warning {
	border: solid 1px lighten($dark-color, 60%);
	background-color: #fbf0a1;
	margin-bottom: $spacing-unit / 2;
	padding: $spacing-unit / 2;

	& > p {
		margin: 0;
		padding: 0;
		font-size: smaller;
	}
}
