---
layout: default
---

<div class="home">
	<p class="background">{{ site.description }}</p>

	<ul class="post-list" itemscope="" itemtype="http://schema.org/Blog">
		{% for post in site.posts %}
			<li itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
				<time class="post-meta" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">
					{{ post.date | date: "%Y-%m-%d" }}
				</time>
				-
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url"><span itemprop="name">{{ post.title }}<span></a>
			</li>
		{% endfor %}
	</ul>
</div>
